<section id="BodyContent">
    <div class="container">
  
      <input type="hidden" id="hidSchedulerId" />
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h5 id="lblSchedulerNumber"></h5>
            </div>
            <div class="col-md-3 text-end">
              <button class="btn btn-light fnCancelSchedulerDetail" type="button">Close</button>
            </div>
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <dl>
                <dt>Scheduler Name</dt>
                <dd id="lbltaskschname"></dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Scheduler Category</dt>
                <dd id="lbltaskschtype"></dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Scheduler Period</dt>
                <dd id="lbltaskperiod"></dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Assigned To</dt>
                <dd id="lbltaskschassign"></dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Description</dt>
                <dd id="lbltaskschdesc"></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
        
  </div>
  
  </section>
  