<section id="BodyContent">
  <div class="container-fluid pt-4 pb-5">
        <input type="hidden" id="hidUserEmpId" />
        <div class="card">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formNewEmployee" class="p-3 needs-validation" novalidate>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3 required">
                                    <label for="selIssuetype" class="col-md-4 col-form-label">Name</label>
                                    <div class="col-md-8">
                                      <div class="input-group">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <input type="text" id="txtfirstname" name="txtfirstname" class="form-control" placeholder="FirstName" required>
                                            <div class="invalid-feedback">
                                              Please Enter First Name.
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <input type="text" id="txtlastname" name="txtlastname" class="form-control" placeholder="LastName">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
    
                                <div class="row mb-3 required">
                                  <label for="selIssuetype" class="col-md-4 col-form-label">MailId</label>
                                  <div class="col-md-8">
                                    <input type="text" id="txtusermail" name="txtusermail" class="form-control" required>
                                    <div class="invalid-feedback">
                                      Please Enter Email Id.
                                    </div>
                                  </div>
                                </div>
    
                                <div class="row mb-3 required">
                                    <label class="col-md-4 col-form-label" for="selusecontactcode">Contact No</label>
                                    <div class="col-md-8">
                                      <div class="input-group customWidth">
                                        <select class="form-select" name="selusecontactcode" id="selusecontactcode" required>
                                            <option value="1">SG (+65)</option>
                                            <option value="2">MY (+61)</option>
                                            <option value="3">IND (+91)</option>
                                        </select>
                                        <input class="form-control onchangeNumericValidation" type="tel" id="txtusercontact" placeholder="Contact No" maxlength="10" required>
                                        <div class="invalid-feedback">
                                          Please Enter Contact Number.
                                        </div>
                                    </div>
                                    </div>
                                </div>
    
                                <div class="row mb-3 required">
                                  <label class="col-md-4 col-form-label" for="seluserdesignation">Designation</label>
                                  <div class="col-md-8">
                                    <select class="form-select" name="seluserdesignation" id="seluserdesignation">
                                          <option>Delivery Manager</option>
                                          <option>Project Manager</option>
                                          <option>Finance Manager</option>
                                          <option>HR</option>
                                          <option>Tech Lead</option>
                                          <option>Team Lead</option>
                                          <option>Testing Lead</option>
                                          <option>Software Engineer</option>
                                          <option>Testing Engineer</option>
                                    </select>
                                  </div>
                              </div>
    
                            </div>
                            <div class="col-md-6">
    
                              <div class="row mb-3 required">
                                <label for="selIssuetype" class="col-md-4 col-form-label">DOB</label>
                                <div class="col-md-8">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-day"></i></span>
                                    <input type="text" id="txtuserdatabirth" name="txtuserdatabirth" placeholder="dd/mm/yyyy" class="form-control">
                                  </div>
                               </div>
                              </div>
    
                              <div class="row mb-3 required">
                                <label for="selIssuetype" class="col-md-4 col-form-label">DOJ</label>
                                <div class="col-md-8">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-day"></i></span>
                                    <input type="text" id="txtuserdatajoin" name="txtuserdatajoin" placeholder="dd/mm/yyyy" class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label class="col-md-4 col-form-label">Enable Login</label>
                                <div class="col-md-8 pt-2">
                                  <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEnableLogin" >
                                  </div>
                                    
                                </div>
                            </div>
                              <div class="row mb-3 required d-none divpassword">
                                <label for="txtuserpwd" class="col-md-4 col-form-label">Password</label>
                                <div class="col-md-8">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-day"></i></span>
                                    <input type="password" id="txtuserpwd" name="txtuserpwd" placeholder="" class="form-control" value=""/>
                                  </div>
                                </div>
                              </div>
    
                              
                                
                            </div>
  
                        </div>
                        </form>
                          
                      </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-success raised" id="btnsaveUser" style="width:12rem">Submit</button>
                        <button type="button" class="btn btn-success raised d-none" id="btnupdateUser" style="width:12rem">Update</button>
                        <button type="button" class="btn btn-light btn-bordered fnCancelNewEmployee" style="width: 12rem;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
