
@font-face {
    font-family: 'open_sans';
    src: url('open-sans.light-webfont.woff2') format('woff2'), url('open-sans.light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
