<section id="BodyContent">
  <div class="container-fluid pt-4 pb-5">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h5>ABC</h5>
          </div>
          <div class="col-md-3 text-end">
            <div class="dropdown d-inline-block">
              <button class="btn btn-primary dropdown-toggle me-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Active</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Renew</a></li>
                <li><a class="dropdown-item red-text" href="#">Terminate</a></li>
              </ul>
            </div>
            <button class="btn btn-light fnCancelDefectDetail" type="button">Close</button>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <dl>
              <dt>Defect ID</dt>
              <dd>DEF0023</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Defect Date and Time</dt>
              <dd>18/02/2023 11:17 AM</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Defect Type</dt>
              <dd>Water Leak</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Defect Category</dt>
              <dd>Maintenance</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Site Name</dt>
              <dd>ABC</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Location</dt>
              <dd>Hibiscus and Daisy toilet</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Building Spot</dt>
              <dd>Shelter</dd>
            </dl>
          </div>
          <div class="col-md-3">
            <dl>
              <dt>Status</dt>
              <dd><span class="badge bg-success">Open</span></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

</div>

</section>
