
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .topnav.desktopNav{
    display: none;
  }
  .topnav.mobileNav{
    display: flex;
  }
  .sidebarWrap{
    display: none !important;
  }
  /* .sidebar-inner {
    width: 4rem !important;
  }
  .pageWrap > .sidebarWrap {
      flex: 0 0 5rem !important;
  }
  .mainMenu .accordion {
      width: 4rem;
  }

  .sidebar-inner:hover {
    width: calc(16rem - 10px) !important;
    position: absolute;
    z-index: 100;
    height: calc(100% - 20px) !important;
  }
  .sidebar-inner:hover .mainMenu {
    width: calc(16rem - 10px) !important;
  }

  .toggleSidebar, .mainMenu .accordion-button .text , .mainMenu .accordion-button::after, .mainMenu .accordion-inner-body {
      display: none;
  }

  .sidebar-inner:hover + .page-content{
    margin-left: 5rem;
  }

  .sidebar-inner:hover .accordion {
      width: inherit;
  }

  .sidebar-inner:hover:hover .toggleSidebar, .sidebar-inner:hover .accordion-button .text, .sidebar-inner:hover .accordion-button::after, .sidebar-inner:hover .accordion-inner-body {
      display: block;
  } */
}
