<section id="BodyContent">
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 col-xxl-8 py-3 position-relative">
                <!-- <img class="bg-auth-circle-shape" src="img/bg-shape.png" alt="" width="250">
                <img class="bg-auth-circle-shape-2" src="img/shape-1.png" alt="" width="150"> -->
                <div class="card overflow-hidden z-index-1 shadow">
                    <div class="card-body p-0">
                        <form id="formOtplogininit" class="row g-0 h-100" onsubmit="return false;">
                            <div class="col-md-12 text-center">
                                <div class="position-relative  light h-100">
                                    <!-- <div class="bg-holder bg-auth-card-shape" style="background-image:url(./img/half-circle.png);"></div> -->
                                    <div class="text-center mb-3" style="margin-top: 2rem;">
                                        <img src="img/ocbc_login.png" style="width: 100%;max-width: 275px;">
                                    </div>
                                    <!-- <p class="opacity-75 text-white">Your smart solution for maintenance management systems</p> -->
                                    <!-- <div class="auth-copyright light">
                                        <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">Read our <a class="text-decoration-underline text-white" href="#!">terms</a> and <a class="text-decoration-underline text-white" href="#!">conditions </a></p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="p-md-5 flex-grow-1 ">
                                    <h2 class="mb-3 text-center"><b>Login</b></h2>
                                    <!-- <div class="row mb-2" id="divtyperdoCode">
                                        <div class="col-md-8">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="Otplogin-radio" id="rdotploginemail" value="2" checked>
                                                <label class="form-check-label" for="rdotploginemail">Email</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="Otplogin-radio" id="rdotploginmobile" value="1">
                                                <label class="form-check-label" for="rdotploginmobile">Mobile</label>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row mb-2" id="divLoginmailcontact">
                                        <label class="col-md-12 col-form-label fw-bold">Email</label>
                                        <div class="col-md-12">
                                            <input class="form-control" type="email" id="txtLoginEmail" placeholder="Email" tabindex="1" autofocus>
                                        </div>
                                    </div>
                                    <div class="row mb-4" id="divLoginmailcontact">
                                        <label class="col-md-12 col-form-label fw-bold">Password</label>
                                        <div class="col-md-12">
                                            <input class="form-control" type="password" id="txtLoginPwd" placeholder="Password" tabindex="1" autofocus>
                                        </div>
                                    </div>
                                 
                                  
                                    <div class="row">
                                        <div class="col-md-12 mt-2 text-center">
                                            <span class="" id="btnsendotp">
                                                <button class="btn red text-white" type="button" id="btnClientOtpLoginSubmit" tabindex="3" style="width: 150px;">Login</button>
                                            </span>
                                            <span class=" d-none" id="btnsigninlogin">
                                                <button class="btn btn-primary" type="button" id="btnClientLoginSendOtp" tabindex="5" style="width: 150px;">Validate OTP</button>
                                            </span>
                                            <span class=" d-none" id="btnbacklogin">
                                                <button class="btn btn-link" type="button" id="btnClientLoginBack" style="width: 150px;">Back</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</section>



    