<section id="BodyContent">

    <div class="container-fluid pt-4 pb-5">
        <div class="row mb-3">
          <label class="col-form-label col-md-4 fw-bold">Issue Date</label>
          <div class="col-md-4">
               <input type="text" id="txtassigndate" name="txtassigndate" class="form-control" />
          </div>
      </div>
   
      <div class="row mb-3">
        <label class="col-form-label col-md-4 fw-bold">HandOver To</label>
        <div class="col-md-4">
          <select class="form-select" id="SelHandOver" name="SelHandOver" data-size="5" data-width="100%" title="Hand
          +               To">
            <!-- <option value="1">Wang</option>
            <option value="2">Raj</option>
            <option value="3">Tiong</option> -->
          </select>
        </div>
        
        
      </div>
      
         <div class="card mb-3">
          
        <div class="ItemPanel" id="productquote">
          <div class="ItemHead py-2">
              <div class="row">
                  <!-- <div class="col-md-2 text-center">
                      <b>Assign Type</b>
                  </div> -->
                  <div class="col-md-3 text-center">
                      <b>Assign To</b>
                  </div>
                  <div class="col-md-2 text-center">
                      <b>Category Name</b>
                  </div>
                  <!-- <div class="col-md-2 text-center">
                    <b>Item Type</b>
                  </div> -->
                  <div class="col-md-4 text-center">
                      <b>Item Name</b>
                  </div>
                  <div class="col-md-1 text-center">
                      <b>Stock</b>
                  </div>
                  <div class="col-md-1 text-center">
                      <b>Qty</b>
                  </div>

                  <div class="col-md-1">
                      &nbsp;
                  </div>
              </div>
          </div>
          <div class="quoteproductbody">

   
              
            </div>
         </div>

          <div class="p-4">
              <button type="button" id="ancaddnew" class="btn btn-outline-primary btn-sm fnaddnewitem" ><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
          </div>
          <div class="row mb-3 required">
            <label class="col-form-label col-md-4 fw-bold">Remarks</label>
            <div class="col-md-12">
              <textarea type="text" id="txtDesc" name="txtDesc" class="form-control" ></textarea>
            </div>
        </div>

        <div class="row my-3">
          <div class="col-md-12 text-center">
              <button type="button" class="btn btn-success raised" id="btnSaveInventoryOutward"  style="width: 12rem;" onclick="">Submit</button>
              <button type="button" class="btn btn-success raised d-none" id="btnupdateproduct" style="width:12rem">Update</button>
              <button type="button" class="btn btn-light btn-bordered fnCancelNewTenant"  style="width: 12rem;">Cancel</button>
          </div>
      </div>

   </div>
</div>
     
  </section>
  
  <section id="ModalContent">
    <div class="modal fade" id="ModalNewInventoryItem" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="h5InwardTitle">New Inventory Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="col-md-12">
              <form id="formNewInward" class="p-3 needs-validation" novalidate>
                  <div class="row mb-3 invDate" id="invDate">
  
                      <label class="col-form-label col-md-4">Inward Date</label>
                      <div class="col-md-8">
  
                          <input id="indate" name="indate" class="form-control" value="" type="text" placeholder="dd/mm/yyyy" readonly="">
                      </div>
  
                  </div>
  
                  <div class="row mb-3 required">
                          <label for="selProductGroup" class="col-md-4 col-form-label">Inventory Group</label>
                          <div class="col-md-8">
                              <div class="input-group">
                                  <select id="selProductGroup" class="form-select" name="selProductGroup" data-size="5" data-width="auto" data-live-search="true">
                                  
                                  </select>
                                  <!-- <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> New</button> -->
                              </div>
                          </div>
                  </div>
  
                  <div class="row mb-3">
  
                      <label class="col-form-label col-md-4">Item Type</label>
                      <div class="col-md-8">
                          <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input cls-item-type" name="rdinvtype" id="rdinvtypepart" checked="">
                              <label class="form-check-label" for="rdinvtypepart">
                                  Part
                              </label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input cls-item-type" name="rdinvtype" id="rdinvtypesystem" >
                              <label class="form-check-label" for="rdinvtypesystem">
                                  Set
                              </label>
                          </div>
                          
                      
                      </div>
                  </div>
                  <div class="row mb-3 d-none required div-product-set">
                      <label for="selProductSet" class="col-md-4 col-form-label">Inventory Set</label>
                      <div class="col-md-8">
                          <div class="input-group">
                              <span class="m5 sp-addpart d-none">
                              <input class="form-check-input" type="checkbox" value="" id="chkaddpart" checked>
                              <label class="form-check-label" for="chkaddpart">
                                  Add Part
                              </label>
                              </span>
  
                              <select id="selProductSet" class="form-select" name="selProductSet" data-size="5" data-width="auto" data-live-search="true">
                                  <!-- <option value="1">AIR CONDITIONING</option>
                                  <option value="2">Oxygen Generator</option>
                                  <option value="3">FILTRATION  SYSTEM (UF SYSTEM)</option> -->
                              </select>
                              <!-- <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> New</button> -->
                          </div>
                      </div>
                  </div>
  
                  <div class="row mb-3 required div-item-name">
                      <label class="col-form-label col-md-4">Inventory Item Name</label>
                      <div class="col-md-8">
                          <input class="form-control" type="text" name="txtitemname" id="txtitemname" required>
                          <div class="invalid-feedback">
                              Please enter item name
                          </div>
                          <input type="hidden" id="ItemId">
                      </div>
                  </div>
  
                  <div class="row mb-3 required" id="DivInvQty">
                      <label class="col-form-label col-md-4">Quantity</label>
                      <div class="col-md-8">
                          <input class="form-control" type="number" name="txtitemqty" id="txtitemqty" placeholder="Item Quantity" min="0" max="100000" required>
                          <div class="invalid-feedback">
                              Please enter quantity
                          </div>
                      </div>
                  </div>
                  <div class="row mb-3 required" id="DivInvCost">
                      <label class="col-form-label col-md-4">Purchased Item Cost</label>
                      <div class="col-md-8">
                          <div class="input-group">
                              <span class="input-group-text"><i class="fa fa-usd" aria-hidden="true"></i></span>
                              <input class="form-control" id="txtitemcost" name="txtitemcost" type="text" onkeypress="return NumericValidation(event)" placeholder="Item Cost " required>
                              <div class="invalid-feedback">
                                  Please enter purchased item cost
                              </div>
                          </div>
                          <p class="form-text mb-0">Enter one quantity cost</p>
                      </div>
                  </div>
                  <div class="row mb-3" id="DivInvRemark">
                      <label class="col-form-label col-md-4">Remarks</label>
                      <div class="col-md-8">
                          <textarea class="form-control" type="text" id="txtremarks"></textarea>
                      </div>
                  </div>
  
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-8">
                              <div class="col-md-12 p-2 ps-0">
                                  <button class="btn btn-primary" id="btnaddattachment" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Image</button>
                              </div>
                              <div class="col-md-12 invoicebody" id="AttachmentWrap"></div>
                          </div>
                          <div class="col-md-4">
                              <div class="col-md-12 " id="oldattach-wrap" style="display: none;">
                                  <table id="oldattachtable" class="mb-4 olddata" width="200"></table>
                                  
                              </div>
                          </div>
                      </div>
                  
                  </div>
              </form>
            </div>
        </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button id="btnsaveproductinward" type="button" class="btn btn-success raised" style="width: 12rem;">Submit</button>
          <button id="btnupdateproductinward" type="button" class="btn btn-success raised d-none" style="width: 12rem;">Update</button>
          <button type="button" class="btn btn-light btn-bordered" data-bs-dismiss="modal" style="width: 12rem;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="addstockmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inventory Item Stock Inward</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formItemStockInward">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mb-3">
                                <label class="col-form-label col-md-6">Item Name</label>
                                <div class="col-md-6">
                                    <p class="form-control-plaintext" id="lblproductname"></p>
                                    <input type="hidden" id="lblproductidhidden" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label col-md-6">Category Name</label>
                                <div class="col-md-6">
                                    <p class="form-control-plaintext" id="lblcategoryname"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label col-md-6">Current Stock</label>
                                <div class="col-md-6">
                                    <p class="form-control-plaintext" id="lblcategorystock"></p>
                                </div>
                            </div>
                            <div class="row mb-3 required">
                                <label class="col-form-label col-md-6">Add Stock</label>
                                <div class="col-md-6">
                                    <input id="NewStockValue" name="NewStockValue" class="form-control" placeholder="Stock Count" type="number" min="1" max="100000" required />
                                </div>
                            </div>
                            <div class="row mb-3 mb-0 required">
                                <label class="col-form-label col-md-6">Purchased Item Cost</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa fa-usd"></i></span>
                                        <input class="form-control" id="txtitemcostM"  name="txtitemcostM" type="text" onkeypress="return NumericValidation(event)" placeholder="Item Cost " required />
                                    </div>
                                     <p class="form-text">Enter one quantity cost</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
  
            <div class="modal-footer text-center-i">
                <button id="btnSaveItemStock" class="btn btn-success raised" style="width:12rem" type="button" name="action">Submit</button>
                <button class="btn btn-light btn-bordered raised" style="width:12rem" type="button" name="action" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="modalInvDetails" tabindex="-1" role="dialog" aria-labelledby="addstockmodallabel">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addstockmodallabel"> Inventory Item Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="FormValidateNewInvItem">
  
                    <dl class="dl-horizontal row mb-1">
                        <dt class="col-md-4">Inventory Item Name </dt>
                        <dd class="col-md-8">
                            <div id="lblInventoryItem"></div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal row mb-1">
                        <dt class="col-md-4">Category </dt>
                        <dd class="col-md-8">
                            <div id="InvCategory"></div>
                        </dd>
                    </dl>
                    <div class="card mb-3" id="tblAttachment">
                        <div class="card-body p-0">
                            <table id="DocumentsList" class="table table-hover m-0" cellspacing="0" width="100%">
                                <thead class="card-header">
                                    <tr>
                                        <th><span class='center'>Attachment</span></th>
                                        <th><span class='center'>Download</span></th>
                                        <th><span class='center'>View</span></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  
  <div class="d-none">
    <select class="form-control" id="selassigntoemp" name="selassigntoemp"></select>
    <select class="form-control" id="selassigntosite" name="selassigntosite"></select>
    <select class="" id="hiddenselCategory" name="hiddenselCategory" onchange="return changeitemname()">
    </select>
    <select class="" id="hiddenselItemType" name="hiddenselItemType" onchange="return changeitemname()">
    </select>
    <select class="form-control d-none" id="hiddenselitem" name="hiddenselitem">
    </select>
    <input type="hidden" id="txtInventoryProductId">
    <input type="hidden" id="txtProductOutwardId">
  </div>
  </section>